/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

body {
  font: 16px/1 robotoregular,sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.text-pink {
  color: #e12ebc;
}

.h-100vh {
  height: 100vh;
}

.bg-pink {
  background-color: #e12ebc;
}

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.cur-pointer {
  cursor: pointer;
}


